# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/
doc/api/

# Flutter tool state (generated)
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Logs
*.log

# IDEs/editors
.idea/
*.iml
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# macOS / Linux / Windows
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# FVM (if used)
.fvm/flutter_sdk

# Fastlane (if used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
